


<!--    ================================================== -->

<div class="container">
<div class="marketing" 

<hr class="soften">
  <div class="row-fluid">
      <div class="span12">
     <hr class="soften">   
     <h2>Please enter the movie you would like to search for!</h2>   

        <form class="form-search" action="/movie_details" method="get">

          <input class= type="text" name="movie">
        
        <button class="btn-info">search</button>
        </form>  
      </div>
    </div>
<hr class="soften">

    <div class="row-fluid">
      
      <div class="span12">
       
     <h2>Please enter the picture you would like to search!</h2>   

        <form class="form-search" action="/picture_details" method="get">

          <input type="text" name="picture" placeholder="Type something" placeholder="Type something…">

        <button class="btn-info">search</button>

        <button class="btn-danger">search again!</button>   

        <button class="btn-danger">random serach</button>  
      </form>  
      </div>
    
   </div>  
<hr class="soften">
    <div class="row-fluid">
      <div class="span12">
        
     <h2>Please enter the stock symbol you would like to search!</h2>   

        <form class="form-search" action="/stock_details" method="get">

          <input type="text" name="symbol" placeholder="Type something…">

        <button class="btn-info" >search</button>  
          </form>
      </div>    
      </div>
</div>    
</div>    


