<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Playground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    
  </head>

  

    <!-- Navbar
    ================================================== -->
    <div class="jumbotron masthead">
  <div class="container">
    <h1>WELCOME TO PLAYGROUND :)</h1>
    <p>Search for movies, pictures and stock quotes. Have fun!</p>
    <p>
      <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="assets/img/image_icon.png">
      </div>
      <div class="span4">
        <img class="marketing-img" src="assets/img/movie_icon.png">
      </div>
      <div class="span4">
        <img class="marketing-img" src="assets/img/stock_icon.png">
      </div>    
      </div>  
  </div>
</div>

<div class="container">
    <%= yield %>
</div>

  <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <div class="row-fluid"
        <div class="span8">
        <p>built with all the love in the world by Adam Daigian. With the help of my homies at bootstrap</p>
      </div>
      </div>
    </footer>
  </div>  
  </body>  