<div class="marketing">
<div class="row-fluid">
<div class="span4">
<h2>This movie called <%= @movie.title %> </h2>
<h2>was released in <%= @movie.year %> </h2>
<h2>and was directed by <%= @movie.director %> </h2>
</p>
</div>
<div class="span8">
<img class="img" src="<%= @image %>">
</div>
</div>
</div>