<div class="marketing">
<p> <strong>Last Price:</strong> <%= @stock.last %> </p>
<p> <strong>Daily High:</strong> <%= @stock.high %> </p>
<p> <strong>Daily Low:</strong> <%= @stock.low %> </p>
<p> <strong>Change:</strong> <%= @stock.change %> </p>
</div>


